@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;800&display=swap');

:root {
  --borderColor: rgb(216, 216, 216);
  --borderRadius: 3px;
  --gameBackground: black;
  --gridWidth: 204px;
  --gridHeight: 404px;
  --gridDivWidth: 20px;
  --gridDivHeight: 20px;
  --upNextGridWidth: 100px;
  --upNextGridHeight: 80px;
  --controlPaddingSide: 2rem;
  --controlPaddingBottom: 2rem;
  --hLetterFontSizeStart: 8rem;
  --hLetterFontSizeEnd: 4rem;
  --controlsDisplay: none;
}
@media (hover: none) {
  :root {
    --controlsDisplay: block;
  }
}
@media only screen and (max-height: 570px) {
  :root {
    --gridWidth: 164px;
    --gridHeight: 324px;
    --gridDivWidth: 16px;
    --gridDivHeight: 16px;
    --upNextGridWidth: 80px;
    --upNextGridHeight: 64px;
    --controlPaddingSide: 1rem;
    --controlPaddingBottom: 1rem;
  }
}
@media only screen and (max-width: 440px) {
  :root {
    --hLetterFontSizeStart: 4rem;
    --hLetterFontSizeEnd: 3rem;
  }
}
body {
  font-family: 'Orbitron', sans-serif;
  box-sizing: border-box;
  background-color: rgb(31, 31, 31);
  margin: 0;
  padding: 0;
}
#userNav {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 80%;
  display: none;
}
.authentication {
  color: rgb(216, 216, 216);
}
#sidebar {
  background-color: rgb(230, 230, 230);
  right: 0;
}
#openSidebar {
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  color: rgb(230, 230, 230);
}
#closeSidebar {
  cursor: pointer;
}
.w3-modal {
  padding-top: 50px;
  padding-bottom: 25px;
}
.w3-modal-content {
  background-color: rgb(206, 206, 206);
  overflow-x: scroll;
}
#instructions .w3-container {
  padding: .5rem 1.5rem;
}
#instructions h1,
#instructions h3,
#instructions p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.1;
}
#instructions h3 {
  padding-left: 1rem;
}
.controlP {
  padding-left: 2rem;
}
.scoringP {
  padding-left: 1rem;
}
#welcome {
  font-family: 'Orbitron', sans-serif;
  color: rgb(216, 216, 216);
  padding-left: 1rem;
}
header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.hLetter {
  font-size: var(--hLetterFontSizeStart);
  font-weight: 800;
  padding: .25rem;
  margin-top: 15rem;
  transition: 1s
}
.pageContainer {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 0 auto;
  justify-content: center;
}
.scoreContainer {
  background-color: var(--gameBackground);
  border: 2px solid var(--borderColor);
  border-radius: var(--borderRadius);
  margin: 0 0 .75rem;
  color: white;
}
.scoreContainer p {
  font-size: .9rem;
  text-align: center;
  margin: .5rem;
}
#score {
  font-size: 1rem;
}
.gameContainer {
  display: none;
  background-color: rgb(92, 92, 92);
  padding: 1.75rem;
  margin: 0 auto;
  justify-content: center;
}
.grid {
  width: var(--gridWidth);
  height: var(--gridHeight);
  display: flex;
  flex-wrap: wrap;
  background-color: var(--gameBackground);
  border: 2px solid var(--borderColor);
  border-radius: var(--borderRadius);
}
.grid div {
  width: var(--gridDivWidth);
  height: var(--gridDivHeight);
  border: 2px outset;
  border-color: transparent;
}
.gameStats {
  max-width: 100px;
  margin-left: 50px;
  color: white;
}
.upNext {
  padding: .5rem 0;
  background-color: var(--gameBackground);
  border: 2px solid var(--borderColor);
  border-radius: var(--borderRadius);
  color: white;
  text-align: center;
  font-size: .9rem;
}
.upNextGrid {
  width: var(--upNextGridWidth);
  height: var(--upNextGridHeight);
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}
.upNextGrid div {
  width: var(--gridDivWidth);
  height: var(--gridDivHeight);
  border: 2px outset;
  border-color: transparent;
}
#playPauseBtn, #reset {
  cursor: pointer;
  width: 100%;
  margin-top: 1.5rem;
  padding: .5rem 0;
  font-size: 1rem;
  color: white;
  border: 2px solid var(--borderColor);
  border-radius: var(--borderRadius);
  background-color: var(--gameBackground);
}
.fa {
  font-size: .825rem;
}
#playPauseBtn:hover, #playPauseBtn:focus {
  background-color: orange;
  border: 2px solid orange;
}
#reset:hover, #reset:focus {
  background-color: red;
  border: 2px solid red;
}
#gameOver {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  width: 100px;
  height: 80px;
  color: red;
  display: none;
  visibility: hidden;
  justify-content: center;
  animation-duration: 2s;
  margin: .75rem auto 16px;
}
#controlsContainer {
  display: none;
}
@media (hover: none) {
  #controlsContainer {
    position: fixed;
    bottom: 200px;
    left: 0;
    width: 100vw;
    display: none;
  }
  .controlButton {
    width: 60px;
    height: 60px;
    padding: 0;
    font-size: 1.75rem;
    border-radius: 50%;
    border: none;
    color: white;
    background-color: rgb(92, 92, 92);
  }
  #leftControls {
    float: left;
    margin: 0;
    padding-left: var(--controlPaddingSide);
    padding-bottom: var(--controlPaddingBottom);
  }
  #rotate {
    margin-right: 1rem;
  }
  #rightControls {
    float: right;
    margin: 0;
    padding-right: var(--controlPaddingSide);
    padding-bottom: var(--controlPaddingBottom);
  }
  #moveRight {
    margin-left: 1rem;
  }
}
@media only screen and (max-height: 815px) {
  #playPauseBtn, #reset {
    margin-top: .7rem;
  }
  #rotate {
    margin-right: .5rem;
  }
  #moveRight {
    margin-left: .5rem;
  }
  #controlsContainer {
    bottom: 0;
  }
}
@media only screen and (max-height: 570px) {
  #playPauseBtn, #reset {
    margin-top: .45rem;
  }
}
@media only screen and (max-width: 440px) {
  .pageContainer {
    max-width: 100%;
  }
  .gameContainer {
    padding: 5px;
    margin-bottom: 100px;
  }
  .gameStats {
    margin-left: 5px;
  }
}