{% extends "game/layout.html" %}

{% load static %}

{% block title %}
  Tetris - Login
{% endblock %}

{% block links %}
  <link rel="stylesheet" href="{% static 'game/account.css' %}">
{% endblock %}

{% block body %}
  <header>
    <a href="{% url 'index' %}" id="home">
      <h1>
        <span id="letter1" class="hLetter">T</span>
        <span id="letter2" class="hLetter">E</span>
        <span id="letter3" class="hLetter">T</span>
        <span id="letter4" class="hLetter">R</span>
        <span id="letter5" class="hLetter">I</span>
        <span id="letter6" class="hLetter">S</span>
      </h1>
    </a>
  </header>

  <div class="formContainer">
    <div class="formHeader">
      <h2>Login</h2>
    </div>
    
    <form action="{% url 'login' %}" method="POST" class="w3-container">
      {% csrf_token %}
      <label for="username">Username</b></label>
      <input type="text" name="username" id="username" class="w3-input w3-border" required>

      <label for="password">Password</b></label>
      <input type="password" name="password" id="password" class="w3-input w3-border" required>

      <button type="submit">Submit</button>
    </form>
  </div>

  <p class="w3-container" id="register">Don't have an account? <a href="{% url 'register' %}">Register here.</a></p>

{% endblock %}